define host{

    use                     linux-server
    host_name               deb_12-1
    alias                   Debian 12 System
    address                 192.168.129.136

    max_check_attempts      1
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}


# Agent Version
define service{

    use                     generic-service
    host_name               deb_12-1
    service_description     Agent Version

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M system/agent_version
}

# Agent Version
define service{

    use                     generic-service
    host_name               deb_12-1
    service_description     Memory Usage

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M memory/virtual -w 80 -c 90 -u G -q aggregate=avg
}


# Disk Usage
define service{

    use                     generic-service
    host_name               deb_12-1
    service_description     Logical Disk Usuage

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M disk/logical/ -w 80 -c 90 -u G
}


# CPU LOAD
define service{

    use                     generic-service
    host_name               deb_12-1
    service_description     Load Average

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M cpu/load/1
}

# CPU AVerage
define service{

    use                     generic-service
    host_name               deb_12-1
    service_description     CPU Average

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M cpu/percent -w 70 -c 80
}


# Hostname

define service{
    use                     generic-service
    host_name               deb_12-1
    service_description     Hostname
    check_command           check_ncpa!-t 'mytoken' -P 5693 -M system/node
}

# Network Interface

define service{
    use                     generic-service
    host_name               deb_12-1
    service_description     Network Interface
    check_command           check_ncpa!-t 'mytoken' -P 5693 -M interface
}


# Process Count

define service{
    use                     generic-service
    host_name               deb_12-1
    service_description     Process Count
    check_command           check_ncpa!-t 'mytoken' -P 5693 -M processes
}

# Uptime

define service{
    use                     generic-service
    host_name               deb_12-1
    service_description     Uptime
    check_command           check_ncpa!-t 'mytoken' -P 5693 -M system/uptime
}

# Virtual Memory

define service{
    use                     generic-service
    host_name               deb_12-1
    service_description     Virtual Memory
    check_command           check_ncpa!-t 'mytoken' -P 5693 -M memory/virtual -w 80 -c 90 -u G -q aggregate=avg
}


