# 
define host{

    use                     linux-server
    host_name               win_10_1
    alias                   Windows 10 System 1
    address                 192.168.129.136
    max_check_attempts      1
}


# C Drive
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     C Drive

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M disk/logical/C: -w 20 -c 40 -u G
}


# CPU Average
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     CPU Average

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M cpu/percent -w 70 -c 80 -q aggregate=avg
}

# Check Process
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     Check Process

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M processes -w 70 -c 80
}

# Check Uptime
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     Check Uptime

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M system/uptime
}

# NCPA Agent Version
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     NCPA Agent Version

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M system/agent_version
}

# Network Interface
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     Network Interface

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M interface
}

# Server Name Hostname i.e Windows machine name
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     Hostname i.e Windows machine name
    check_command           check_ncpa!-t 'mytoken' -P 5693 -M system/node
}

# Virtual Memory
define service{

    use                     generic-service
    host_name               win_10_1
    service_description     Virtual Memory

    check_command           check_ncpa!-t 'mytoken' -P 5693 -M memory/virtual -w 70 -c 80 -u G -q aggregate=avg
}
